/* Navigation bar */
.navbar
{
  background-color: var(--primary);
  color: var(--secondary);
}
.navbar img{
  height: 50px;
}
.cart{
  display:flex;
}

.cart div{
  display: flex;
  position:relative;
  bottom:10px;
  left:-5px;
  background: tomato;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
