.summary-title
{
    text-align: left;

}
.order-summary
{
    border: 1px solid;
    padding: 30px 30px 166px 30px;
    margin-top: 25px;
}

.order-summary hr{
    width: 90%;
    text-align: center;
    margin: auto;
}

.product-list
{
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #666666;
    width: 90%;
    margin:auto;

}
.product-list ol{
    list-style: none;
}