/* Product page styling */
.products-grid
{
  display: grid !important;
  align-items: center !important;
  justify-content: center !important;
  grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
  grid-gap: 10px;
}
.pagination button
{
  color:var(--primary);
  border: 1px solid var(--primary);
  padding: 5px 15px;
}
.pagination button:hover{
  color: var(--secondary);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}