/* ProductCard styling */




.card {
    width: 100%;
    
    border-radius: 5px;
    border: 1px solid #00000077;
    margin: auto;
  }
  
  .card-title
  {
    font-size: 1.6rem;
    font-weight: bold;
  }
  .card a{
    text-decoration: none;
    color: #000000;
  }
  
  .card-image-link:hover
  {
    background: #3e10b411;
  }
  
  .card-body {
    padding: 5px;
    background-color: #f0f0f0;
  }
  
  .product-price
  {
    margin-top: -85px;
  }
  
  .card p
  {
    font-size: 0.9rem;
  }
  .discounted-from, .discount-percentage
  {
    font-size: 0.8rem;
    color: #999999;
    margin: 5px;
  }
  
  
  .card .btn-blue
  {
    
    text-align: center;
    margin: 10px;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 3px;
    margin-left: -2px;
  }
  .card .btn-blue:hover
  {
    background-color: var(--primary);
    border: 1px var(--primary);
    color: var(--secondary);
    transition: 5000;
  }
  
  .card .btn-green, .apply-button
  {
    
    text-align: center;
    margin: 10px;
    color: var(--success);
    border: 1px solid var(--success);
    border-radius: 3px;
    margin-left: -2px;
  }
  .card .btn-green:hover, .apply-button:hover
  {
    background-color: var(--success);
    border: var(--success);
    color: var(--secondary);
    transition: 5000;
  }
  