.small-container
{
    max-width: 1000px;
    padding-right: 20px;
    margin: auto;
    text-align: left;
}
.product-row
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.small-image-row
{
    display: flex;
    justify-content: space-around;
}
.column-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.small-image-column
{
    flex-basis: 24%;
    cursor: pointer;
}
.single-product .column-2 img
{
    padding:0;
}
.single-product .column-2
{
    padding: 20px;
}
.column-2
{
    flex-basis: 50%;
    min-width: 300px;
}
.column-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin:25px 0;
}
.column-2 select
{
    display: block;
    margin-top: 20px;
    padding:10px;
}
.column-2 h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.column-2 input
{
    width: 60px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border:1px solid tomato;
}
.column-2 input:focus
{
    outline: none;
}
.column-2 a
{
    text-decoration: none;
    color: #ffffff;
}
.column-2 h3
{
    padding-top: 10px;
}
.column p{
    color: #666666;
}
@media screen and (max-width:767px) {
    .column-2 input
    {
        display: block;
        margin-bottom: 10px;
    }
}
