@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600&display=swap');

*{
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

body
{
  font-family: 'Heebo', sans-serif !important;
}

:root
{
  --primary: #06002B;
  --secondary:#ffffff;
  --success:#077a09
}




/* Navigation bar */
.navbar
{
  height: 90px;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary);
}
.navbar img{
  height: 77px;
}
.nav-list
{
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 0px;
}
.nav-list a{
  color: var(--secondary);
  text-decoration: none;
}
.nav-list li
{
  padding-left: 20px;
}






.cart{
  display:flex;
}

.cart div{
  display: flex;
  position:relative;
  bottom:10px;
  left:-7px;
  background-color:tomato;
  color: var(--secondary);
  font-weight: 600;
  font-size: 12px;
  height: 20px;
  width:20px;
  border-radius: 50%;
  justify-content: center;
  padding-left: 1px;
  align-items: center;
  overflow: hidden;
}

.burger
{
  border: 1px solid var(--secondary);
  border-radius: 4px;
  display: none;
}
.bar
{
  width: 20px;
  margin: 6px;
  padding: 1px;
  display: block;
  background-color: var(--secondary);
  cursor: pointer;
}

/* ---------------hero------------------- */
.hero
{
  background-color: #dddddd;
  min-height: 600px;
  width: 100%;
}
.hero .container
{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}
.hero-image img
{
  height: 25rem;
}
.hero-text
{
  position:relative;
  /* top: -60px; */
  padding: 50px;

}
.hero .shop-now-btn, 
.featured-products .shop-now-btn,
.new-arrivals .shop-now-btn
{
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 8px 45px;
}
.hero .shop-now-btn:hover,
.featured-products .shop-now-btn:hover,
.new-arrivals .shop-now-btn:hover
{
  background-color: var(--primary);
  color: var(--secondary);
}
/* -----------collection------------ */

  .collection
  {
    width: 100%;
    padding: 50px;
  } 
  .collection-container
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .collection-1, .collection-2
  {
    margin: 10px;
  }
  .collection-1
  {
    display: flex;
  }
  .collection-1 img
  {
    height: 400px;
  }
  .collection-21
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .collection-211 img
  {
    height: 220px;
  }
  .collection-22 img
  {
    height: 180px;
  }
  .for-overlay
  {
    position:relative;
  }
  /* .collection a
  {
    text-decoration: none;
    color: #ffffff00;
  } */
  .image-overlay
  {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000000;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-decoration: none;
    color: #ffffff00;
  }
  .image-overlay:hover
  {
    background-color: #00000055;
    color: #ffffff;
    transition: 8000;
  }
  
  /* ------------ our services------------ */
  .services
  {
    background-color: #dddddd;
  }
  .services .container
  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 350px;
  }
  .services a
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    font-weight: 450;
    font-size: larger;
  }
  .circle
  {
    background-color: var(--secondary);
    height: 91px;
    width: 91px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  /* ------------ featured products------------- */
  .featured-products
  {
    width: 100%;
    min-height: 600px;
  }
  .featured-products .container
  {
    text-align: center;
  }
  
  .featured-products h2,
  .news-blogs h2,
  .new-arrivals h2,
  .testimonials h2
  {
    padding: 0 20px 0 20px;
    border-bottom: 4px solid #000000;
    display: inline-block;
  }
  .for-margin
  {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  /* --------------new arrivals------------ */

  .new-arrivals
  {
    background-color: #dddddd;
    text-align: center;
  }
  
  /* ------------news and blogs------------- */
  .news-blogs
  {
    min-height: 820px;
    padding: 50px 0;
    text-align: center;
  }
  .date-and-comment-wrapper
  {
    display: flex;
    justify-content: space-between;
  }
  .blog-card
  {
    padding: 0 !important;
  }
  .blog-card img
  {
    object-fit: cover !important;
    width: 100%;
    height: 220px;
    object-position: center;
  }
  .blogs-grid
{
  display: grid !important;
  align-items: center !important;
  justify-content: center !important;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-gap: 50px;
}


.blog-card-body
{
  background-color: #999999 !important;
  color: var(--secondary) !important;
}
.blog-text-wrapper
{
  padding: 20px 0;
}
.blog-title, .blog-description
{
  font-size: 20px;
  text-align: left;
}
.news-blogs .see-all-blogs
{
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 8px 45px; 
}

.news-blogs .see-all-blogs:hover
{
  background-color: var(--primary);
  color: var(--secondary);
}

/* ----------------- testimonials--------------------- */
.testimonials
{
  min-height: 400px;
  text-align: center;
  background-color: #dddddd;
}
.testimonials-wrapper
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.testimonial-card
{
  display: flex;
  width: 355px;
}

.testimonial-left
{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-left img
{
  width: 94px;
  height: 94px;
  border-radius: 50%;
}
.testimonial-right
{
  text-align: left;
  font-size: 18px;
}
.testimonial-right h3
{
  border-bottom: 1px solid #000000;
}


/* -----------------breadcrumb-------------- */
.breadcrumb-container
{
  padding: 50px 0;
}

/* Filter page styling */
.bg
{
    display: flex;
    justify-content: space-between;
}
.filter-text
{
  font-size:18px;
  text-align: left;
}

.filter
{
  display:flex;
  flex-wrap: wrap;
}
.filter select
{
    width: 100px;
    margin: 10px 10px 10px 0;
}

.sort-by
{
  margin-right: 0px;
  justify-self: flex-end;
}
/* ----------- Product-card------------ */

.card {
  width: 100%;
  text-align: center;
  border-radius: 5px;
  outline: 1px solid #00000077;
  margin: auto;
}
.card img
{
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.card-title
{
  font-size: 1.6rem;
  font-weight: bold;
}
.card a{
  text-decoration: none;
  color: #000000;
}
.card a:hover
{
  color: #000000;
}

.card-link:hover
{
  background: #08eb5b11;
}

.card-body {
  padding: 5px;
  background-color: #CDCFCC;
}
.card-body:hover
{
  background-color: #CDCFCC;
}

.product-price
{
  margin-top: -85px;
}

.card p
{
  font-size: 0.9rem;
}
.discounted-from, .discount-percentage
{
  font-size: 0.8rem;
  color: #999999;
  margin: 5px;
}

.button-wrapper
{
  background-color: #CDCFCC;
}

.card .btn-blue
{
  
  text-align: center;
  margin: 10px;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 3px;
  margin-left: -2px;
}
.card .btn-blue:hover
{
  background-color: var(--primary);
  border: 1px var(--primary);
  color: var(--secondary);
  transition: 5000;
}

.card .btn-green, .apply-button
{
  
  text-align: center;
  margin: 10px;
  color: var(--success);
  border: 1px solid var(--success);
  border-radius: 3px;
  margin-left: -2px;
}
.card .btn-green:hover, .apply-button:hover
{
  background-color: var(--success);
  border: var(--success);
  color: var(--secondary);
  transition: 5000;
}


/* ----------------Product page styling---------------------- */
.products-grid
{
  display: grid !important;
  align-items: center !important;
  justify-content: center !important;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 10px;
}
.pagination button
{
  color:var(--primary);
  border: 1px solid var(--primary);
  padding: 5px 15px;
}
.pagination button:hover{
  color: var(--secondary);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

/* -----------------product detail-------------- */
.small-container
{
    max-width: 1000px;
    padding-right: 20px;
    margin: auto;
    text-align: left;
}
.product-row
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.small-image-row
{
    display: flex;
    justify-content: space-around;
}
.column-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.small-image-column
{
    flex-basis: 24%;
    cursor: pointer;
}
.single-product .column-2 img
{
    padding:0;
}
.single-product .column-2
{
    padding: 20px;
}
.column-2
{
    flex-basis: 50%;
    min-width: 300px;
}
.column-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin:25px 0;
}
.column-2 select
{
    display: block;
    margin-top: 20px;
    padding:10px;
}
.column-2 h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.column-2 input
{
    width: 60px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border:1px solid tomato;
}
.column-2 input:focus
{
    outline: none;
}
.column-2 a
{
    text-decoration: none;
    color: #ffffff;
}
.column-2 h3
{
    padding-top: 10px;
}
.column p{
    color: #666666;
}




/* ------------order summary---------------- */
.summary-title
{
    text-align: left;
}
.order-summary
{
    border: 1px solid;
    height: 700px;
    /* padding: 30px 30px 166px 30px; */
    /* margin-top: 20px; */
    overflow-y: scroll;
    display: flex;
    justify-content: center;

}

.order-summary hr{
    width: 90%;
    text-align: center;
    margin: auto;
}

.product-list
{
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #666666;
    width: 100%;
    margin:auto;

}


.cupon
{
  padding: 20px 0;
}
.cupon .btn{
  border: var(--primary);
    color: var(--primary);
    padding: 6px 15px;
    border: 1px solid var(--primary);
    margin-top: 10px;
}
.cupon .btn:hover
{
  background-color: var(--primary);
  color: var(--secondary);
}


/* Styling for chackout-form */

.checkout-form-title
{
    text-align: left;

}

.checkout-form
{
    padding:10px;
    height: 700px;
    text-align: left;
    border: 1px solid;
}
.checkout-form form
{
    margin: auto;
}
.checkout-form label
{
    padding:20px 0px 5px 0px;
    font-weight: 600;
}
.checkout-form .btn
{
    margin: 20px 20px 20px 0;
}

.checkout-form .btn
{
    border: var(--success);
    color: var(--success);
    padding: 8px 20px;
    border: 1px solid var(--success);
}
.checkout-form .btn:hover
{
    background-color: var(--success);
    color: var(--secondary);
}

/* ------------cart itms------------- */

.cart-page
{
  margin:80px auto;
}
.cart-page table
{
  width:100%;
  border-collapse: collapse;
}
.cart-info
{
  display: flex;
  flex-wrap: wrap;
}
.cart-info div
{
  margin-top: 10px;
}
.cart-info p{
  margin-bottom: 2px;
}
th
{
  text-align: left;
  padding: 5px;
  color: var(--secondary);
  background-color: #ff523b;
  font-weight: 400;
}
.cart-page page td{
  padding: 10px 5px;
}
.cart-page td input
{
  width: 40px;
  height: 30px;
  padding: 5px;
}
.cart-page td a
{
  color: #ff523b;
  font-size: 12px;
}
.cart-page td img
{
  width: 75px;
  height: 90px;
  margin-right: 10px;
}
.total-price
{
  display: flex;
  justify-content: flex-end;
}
.total-price table{
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 400px;
}

.cart-page td:last-child
{
  text-align: right;
}
.cart-page th:last-child
{
  text-align: right;
}












/* ---------subscribe--------------- */

.subscribe
{
    width: 60%;
    margin: auto;
    padding:50px 0;
}
.subscribe input
{
    margin: 13px;
}
.subscribe .btn
{
    border: var(--success);
    color: var(--success);
    padding: 8px 20px;
    border: 1px solid var(--success);
}
.subscribe .btn:hover
{
    background-color: var(--success);
    color: var(--secondary);
}



/* Footer style */

footer
{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  height: 100px;
  width: 100%; 
}
footer a, footer a:hover
{
  color: var(--secondary);
}

.bg2
{
  padding: 2px 14px 70px 18px;
}
.bg3
{
  padding-bottom: 200px;
}



/* ---------media query------- */

@media screen and (max-width:767px) {
  .column-2 input
  {
      display: block;
      margin-bottom: 10px;
  }
  .cart-info p{
    display: none;
  }
}

@media screen and (max-width:992px) {
  .nav-list
  {
    display: none;
  }
  .burger
  {
    display: block;
  }
  .testimonials-wrapper
  {
    justify-content: center;
  }
}
